@model IEnumerable<Product>

@{
    ViewData["title"] = "ListOfProducts";
    var currentUrl = ViewContext.HttpContext.Request.Path + ViewContext.HttpContext.Request.QueryString;
}


<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 col-xs-6 border-primary mb-3">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @item.Name
                                    <a class="text-white float-right" asp-controller="Product" asp-action="EditProduct" asp-route-productId="@item.Id"><i class="bi bi-pencil-square"></i></a>
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="@item.PictureURL" width="100%" alt="@item.Name"></img>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <p class="card-text">@item.Description</p>
                            <p class="card-text">
                                <b>Rating:</b>
                                @for (int i = 1; i <= 5; i++)
                                {
                                    if (i <= @item.RatingValue)
                                    {
                                        <span class="bi bi-star-fill text-warning"></span>
                                    }
                                    else
                                    {
                                        <span class="bi bi-star text-warning"></span>
                                    }
                                }
                            </p>
                            <form method="post" asp-controller="Product" asp-action="AddRating" class="d-inline">
                                <input type="hidden" name="productId" value="@item.Id"/>
                                <input type="number" name="numberOfStars" value="5" min="1" max="5" class="form-control d-inline w-25" required/>
                                <button type="submit" class="btn btn-primary">Rate</button>
                            </form>
                            <p class="card-text">
                                <b>Availability:</b>
                                @if (item.Quantity > 10)
                                {
                                    <span class="badge bg-success text-white">IN STOCK</span>   
                                }
                                @if (item.Quantity > 0 && item.Quantity <= 10)
                                {
                                    <span class="badge bg-warning text-black">IN STOCK @item.Quantity</span>
                                }
                                @if (item.Quantity == 0)
                                {
                                    <span class="badge bg-danger text-white">OUT OF STOCK</span>
                                }
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center">
                                <a class="btn btn-outline-info float-right" asp-controller="Product" asp-action="GetDetails" asp-route-id="11"><i class="bi bi-eye-fill"></i>Show details</a>

                                <form method="get" asp-controller="ShoppingCart" asp-action="AddItemToCart" class="d-flex align-items-center">
                                    <input type="hidden" name="productId" value="@item.Id" class="form-control form-control-sm mr-2" style="width: 70px;" />
                                    <input type="number" name="quantity" min="1" value="1" max="@item.Quantity" class="form-control form-control-sm mr-2" style="width: 70px;" />
                                    <button type="submit" class="btn btn-success text-white"><i class="bi bi-cart-plus"></i> Add To Cart For @item.Price $</button>
                                </form>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
    <a asp-controller="Product" asp-action="AddProduct" class="btn btn-success">
        <i class="bi bi-plus-circle"></i> Add New</a>
</div>