@model Checkout

<h2>Checkout</h2>

@if (Model != null)
{
    <form method="post" asp-controller="Checkout" asp-action="SaveCheckoutData">
        <input type="hidden" asp-for="Id">
        <input type="hidden" asp-for="OrderId">
        <table class="table">
            <thead>
                <tr>
                    <th>Selected address</th>
                    <th>Address</th>
                    <th>City</th>
                    <th>Postal or ZIP code</th>
                    <th>Country</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model.UserAddresses)
                {
                    <tr>
                        <td>
                            <input type="radio" name="ShippingAddressId" value="@item.Id">
                        </td>
                        <td>@item.Street</td>
                        <td>@item.City</td>
                        <td>@item.PostalOrZipCode</td>
                        <td>@item.Country</td>
                        <td>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

        <button type="submit" class="btn btn-primary">Confirm checkout</button>
    </form>
}