@using Microsoft.AspNetCore.Identity

@model ECommerceWebApp.ViewModels.RoleViewModel

<h2>Roles @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (var role in Model.AllRoles)
        {
            if (role.Name != "SuperAdmin")
            {
                <div>
                    <input type="radio" name="selectedRoles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ? "checked" : "") /> @role.Name
                </div>
            }
        }
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
